body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #384a73ff;
}

.title {
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}
.sidebar {
  width: 10%;
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 20px;
}

/* Media Querries */

/* Sidebar */
/* Medium screens (≥576px and <992px) */
@media (max-width: 991px) {
  .sidebar .nav-link {
    font-size: 1rem;
  }
}
/* Small screens (≤576px) */
@media (max-width: 576px) {
  .sidebar .nav-link {
    font-size: 0.6rem;
  }
}

/* reports page */
/* Small screens (≤576px) */
@media (max-width: 576px) {
  .chart-container {
    max-width: 300px !important;
  }
}
